<a href="https://colab.research.google.com/github/syedahmedali09/Assignment-AIC_034647/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from calendar import monthrange
from calendar import month_name
from datetime import datetime
student_name=[]
student_gr=[]
student_fingerprint=[]
student_RF_ID=[]
period_time=[]
data=[]
sheet_name_list=[]

In [14]:
Day_name=["Sunday","Monday","Tuesday","Wednesdays","Thursday","Friday","Saturday"]
Day_name_set=["Sun","Mon","Tues","Wed","Thur","Fri","Sat"]

In [ ]:


1st_day_name=datetime(2022, 7, 12)
period_week=int(input("how many period will there be in this time week:"))

for i in range(period_week):
  Input_day_name=str(input("Enter day name:"))
  Input_day_name_title=Input_day_name.title()
  Input_day_name_title
  Input_subject_name=str(input("subject name:"))
  for x in Day_name:

    if Input_day_name_title==x:
       index_day= Day_name.index(Input_day_name_title)
       Day_name_set[index_day]=Input_subject_name

Enter day name:tuesday
subject name:QQQ

In [ ]:
Day_name_set

['uui', 'ud', 'QQQ', 'Wed', 'Thur', 'nn', 'Sat']

In [ ]:
period_week=int(input("how many period will there be in this time week:"))

for i in range(period_week):
  Input_day_name=str(input("Enter day name:"))
  Input_day_name_title=Input_day_name.title()
  Input_day_name_title
  Input_subject_name=str(input("subject name:"))
  for x in Day_name:

    if Input_day_name_title==x:
       index_day= Day_name.index(Input_day_name_title)
       Day_name_set[index_day]=Input_subject_name

how many period will there be in this time week:4
Enter day name:monday
subject name:ud
Enter day name:friday
subject name:nn
Enter day name:sunday
subject name:uui
Enter day name:wednesday
subject name:jj

In [ ]:
first_period_names_simple=["Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat"]

absent=[]
for A in range(34):
  absent.append("A")
data=[]
days=[]
days_in_mouth=int(input("Enter days in in mouth:"))
for i in range(days_in_mouth+1):
  days.append(i)
del days[0]
days.insert(0,"january 2022")
days.insert(1,"8:15 to 9:00 am")
days.append("total_present")
FIRST_PERIOD= pd.DataFrame(data,index=[],columns=days)

first_period_names_simple=["Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat","Sun","Islamiate","UEE(PR)","basic_electronic(TH)","UEE(TH)","DLT","Sat"]
first_period_names=first_period_names_simple[7:days_in_mouth+7]
first_period_names.insert(0,"NAME")
first_period_names.insert(1,"GR")
first_period_names.append("NaN")
FIRST_PERIOD.loc[len((FIRST_PERIOD.index)+1)]=first_period_names
FIRST_PERIOD
days[1]="9:00 to 9:45 am"
Second_Period= pd.DataFrame(data,index=[],columns=days)

second_peroid_simple=["Sun","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun","Sat","Mang","basic_electronic","IPE","UEE","IPE","Sun"]

second_period_names=second_peroid_simple[7:days_in_mouth+7]
second_period_names.insert(0,"NAME")
second_period_names.insert(1,"GR")
second_period_names.append("NaN")
Second_Period.loc[len((Second_Period.index)+1)]=first_period_names
#Second_Period
FIRST_PERIOD

In [ ]:
absent=[]
for A in range(34):
  absent.append("A")
name=input("enter the name:")
Gr=input("enter the gr no:")
fingerprint=input("collect the fingerprint:")
RF_ID=input("provide RF ID:")
student_data=[]
student_data.append(name)
student_data.append(Gr)
student_data.append(fingerprint)
student_data.append(RF_ID)
print (student_data)
student_name.append(student_data[0])
student_gr.append(student_data[1])
student_fingerprint.append(student_data[2])
student_RF_ID.append(student_data[3])
add_data=absent[0:len(pop.columns)-3]
add_data.insert(0,name)
add_data.insert(1,Gr)
add_data.append("Nan")


pop.loc[len((pop.index)+1)]=add_data

enter the name:Ahmed ALi
enter the gr no:166
collect the fingerprint:&&
provide RF ID:***
['Ahmed ALi', '166', '&&', '***']

NameError: ignored

In [13]:

mouth_name=str(input("Enter name of mouth:"))
start_period_time=input("starting time of period:")
end_period_time=input("ending time of period:")
period_time=start_period_time+" to "+end_period_time
days=[]
month=int(input("enter the month in numerical value"))
year=int(input("enter the year in numerical value"))
num_days = monthrange(year, month)[1] 
frist_day_name=datetime(year, 1, month)
frist_day_name=pd.to_datetime(frist_day_name).day_name()
frist_day_name

for i in range(num_days):
  days.append(i)
del days[0]
days.insert(0,month_name)
days.insert(1,period_time)
days.append("persentage")
period_in_week=int(input("how many period in week:"))
for i in range(period_in_week):
  Input_day_name=str(input("Enter day name:"))
  Input_day_name_title=Input_day_name.title()
  Input_day_name_title
  Input_subject_name=str(input("subject name:"))
  for x in Day_name:

    if Input_day_name_title==x:
       index_day= Day_name.index(Input_day_name_title)
       
       Day_name_set[index_day]=Input_subject_name


absent=[]
for A in range(34):
  absent.append("A")

Enter name of mouth:feb
starting time of period:12:00 am
ending time of period:1:00 pm
enter the month in numerical value05
enter the year in numerical value2022
how many period in week:3
Enter day name:monday
subject name:ISL

NameError: ignored

In [11]:
month=int(input("enter the month in numerical value"))
year=int(input("enter the year in numerical value"))

num_days = monthrange(year, month)[1] 
frist_day_name=datetime(year, 1, month)
frist_day_name=pd.to_datetime(frist_day_name).day_name()
frist_day_name

enter the month in numerical value02
enter the year in numerical value2023

'Monday'

In [ ]:
sheet_name_i=(input("Enter the sheet name"))
g=""
sheet_name=sheet_name_i+g
sheet_name

Enter the sheet namefrist_period

'frist_period'

In [ ]:
e=h+g

In [ ]:
FIRST_PERIOD

  january 2022 8:15 to 9:00 am    1    2  ...   29   30         31 total_present
0         NAME              GR  Sat  Sun  ...  Sat  Sun  Islamiate           NaN

[1 rows x 34 columns]

In [ ]:
Second_Period

  February 2022    1    2          3  ...   28   29   30         31 total_present
0     NAME   GR  Sat  Sun  Islamiate  ...  DLT  Sat  Sun  Islamiate           NaN
1    Ahmed  116    A    A          A  ...    A    A    A          A           Nan

[2 rows x 34 columns]

In [ ]:
print(student_name)
print(student_gr)
print(student_fingerprint)
print(student_RF_ID)

['Ahmed']
['116']
['Anyprint']
['Id1']

In [ ]:
finger_input  = input("")
rfid_input = input("")

Anyprint
Id1

In [ ]:
for finger in student_fingerprint:
  if finger== finger_input:
    check_finger_p=student_fingerprint.index(finger_input)
   
for  id in student_RF_ID:
    if id == rfid_input:
      check_RF_ID=student_RF_ID.index(rfid_input)

In [ ]:
print(check_finger_p)
check_RF_ID

0

0

In [ ]:
from pytz import timezone 
from datetime import datetime

date_now=datetime.now(timezone("Asia/Karachi")).strftime('%Y %m-%d')
print(date_now)
time_now = datetime.now(timezone("Asia/Karachi")).strftime('%H:%M')
print(time_now)

2022 02-25
23:18

In [ ]:
Time_set_arr=pd.date_range(start="2022-02-01",end="2022-02-28")

In [ ]:
Time_set_arr

DatetimeIndex(['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08',
               '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12',
               '2022-02-13', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20',
               '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24',
               '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
Time_set_l=Time_set_arr.tolist()

In [ ]:
W=Time_set_arr==date_now 
R=W.tolist()
R

R.index(True)

22

In [ ]:
dt = pd.date_range(start="2022-02-01",end="2022-02-28", freq='B')
dt

DatetimeIndex(['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10',
               '2022-02-11', '2022-02-14', '2022-02-15', '2022-02-16',
               '2022-02-17', '2022-02-18', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-28'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
date_now.date().strftime("%A")

AttributeError: ignored

NameError: ignored

In [ ]:
import datetime

data = ['Monday,30 December,2013', 'Delivered_it', '19:23', '1']
data = '{} {}'.format(data[0], data[2])
timestamp = datetime.datetime.strptime(data, '%A,%d %B,%Y %H:%M')
print(timestamp)

2013-12-30 19:23:00